<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load custom_filters %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Real World Django - редактирование события Субботник во вторник</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Project style -->
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="vertical-layout">

        <!-- Start LEFT_MENU -->
        <div class="leftbar">
            <div class="logobar">
                <a href="{% url 'events:event_list' %}" class="logo logo-large">
                    <img src="{% static 'images/svg-icon/logo.svg' %}" alt="logo" style="height: 40px">
                </a>
            </div>
            <ul class="vertical-menu" id="vertical-menu">
                <li class="vertical-menu-item">
                    <span>Главное</span>
                    <ul class="vertical-submenu">
                        <li><a href="{% url 'events:event_list' %}">События</a></li>
                        <li><a href="mail.html">Подписчики</a></li>
                    </ul>
                </li>
                <li class="vertical-menu-item">
                    <span>Аккаунт</span>
                    <ul class="vertical-submenu">
                        <li><a href="profile.html">Мой аккаунт</a></li>
                        <li><a href="#">Изменить пароль</a></li>
                        <li><a href="#">Сбросить пароль</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- menu for mobile -->
        <div class="topbar-mobile">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="mobile-logobar" style="max-width: 40px">
                        <a href="#" class="mobile-logo">
                            <img src="{% static 'images/svg-icon/logo.svg' %}" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="mobile-togglebar">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="menubar">
                                    <a class="menu-hamburger" href="#" id="menu-hamburger">
                                        <img src="{% static 'images/svg-icon/collapse.svg' %}"
                                            class="img-fluid menu-hamburger-collapse" alt="collapse">
                                        <img src="{% static 'images/svg-icon/close.svg' %}"
                                            class="img-fluid menu-hamburger-close" alt="close">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-none" style="height: 90px"></div>
        <!-- End LEFT_MENU -->

        <!-- Start MAIN_CONTAINER -->
        <div class="rightbar">

            <!-- Start TOP_BAR -->
            <div class="container-fluid bg-white py-3">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto text-center ms-4">
                        <h4>События</h4>
                    </div>
                </div>
            </div>
            <!-- End TOP_BAR -->

            <!-- Start CONTAINER_BAR -->
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-5 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Событие</h5>
                            </div>
                            <div class="card-body">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link mb-2 active" id="v-pills-edit-tab" data-bs-toggle="pill"
                                        href="#v-pills-edit" role="tab" aria-controls="v-pills-edit"
                                        aria-selected="true">
                                        <i class="bi bi-pencil-square"></i>Создать
                                    </a>
                                    <a class="nav-link" id="v-pills-danger-zone-tab" data-bs-toggle="pill"
                                        href="#v-pills-danger-zone" role="tab" aria-controls="v-pills-danger-zone"
                                        aria-selected="false">
                                        <i class="bi bi-exclamation-triangle-fill"></i>Danger zone
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade active show" id="v-pills-edit" role="tabpanel"
                                aria-labelledby="v-pills-edit-tab">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0" data-test="header">
                                            {{event.title}}
                                        </h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="{% static 'images/event.jpg' %}" class="img-fluid" alt="profile"
                                            style="width: 250px">
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Основная информация</h5>
                                    </div>
                                    <div class="card-body">
                                        {{ form.non_field_errors }}
                                        <h2>Create Event</h2>
                                        <form method="post" enctype="multipart/form-data" class="form">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}:</label>
                                                {{ form.title|add_attr:"class:form-control" }}
                                            </div>
                                            {% if form.title.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.title.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="{{ form.description.id_for_label }}"  class="form-label">Описание:</label>
                                                {{ form.description|add_attr:"class:form-control" }}
                                            </div>
                                            {% if form.description.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.description.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="{{ form.date_start.id_for_label }}" class="form-label">Дата начала события:</label>
                                                 {{ form.date_start|add_attr:"class:form-control" }}
                                            </div>
                                            {% if form.date_start.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.date_start.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="{{ form.participants_number.id_for_label }}" class="form-label">Количество
                                                    участников:</label>
                                                 {{ form.participants_number|add_attr:"class:form-control" }}
                                            </div>
                                            {% if form.participants_number.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.participants_number.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="mb-3 form-check">
                                                <label  class="form-label" for="{{ form.is_private.id_for_label}}">Частное</label>
                                                {{ form.is_private }}
                                            </div>
                                            {% if form.is_private.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.is_private.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="{{ form.category.id_for_label }}" class="form-label">Категории:</label>
                                                 {{ form.category|add_attr:"class:form-control" }}
                                            </div>
                                            {% if form.category.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.category.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="{{ form.features.id_for_label }}" class="form-label">Свойства:</label>
                                                {{ form.features|add_attr:"class:form-control" }}
                                            </div>
                                             {% if form.features.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.features.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="mb-3 text-start">
                                                <label for="formFile" class="form-label">Загрузить изображение</label>
                                                <input  type="file" class="form-control" id="{{ form.logo.id_for_label }}"  name="logo">
                                            </div>
                                            {% if form.logo.errors %}
                                            <div class="alert alert-danger">
                                                {{ form.logo.errors }}
                                            </div>
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary">Создать</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-danger-zone" role="tabpanel"
                                aria-labelledby="v-pills-danger-zone-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Danger zone</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-xl-4">
                                                <div class="text-center my-5">
                                                    <img src="{% static 'images/svg-icon/cancel.svg' %}" alt="logout">
                                                    <h2 class="text-success">Удалить событие?</h2>
                                                    <p class="my-4">
                                                        Вы находитесь в опасной зоне. Вы уверены что хотите
                                                        удалить событие безвозвратно?
                                                    </p>
                                                    <div class="button-list">
                                                        <form method="post" action=".">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">
                                                                Да, удалить
                                                            </button>
                                                            <a href="{{ event.get_absolute_url }}"
                                                                class="btn btn-success">
                                                                Нет, не удалять
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End CONTAINER_BAR -->

            <!-- Start FOOTER -->
            <div style="height: 70px"></div>
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© ИнЭТип СГТУ 2024г. Real World Django</p>
                </footer>
            </div>
            <!-- End FOOTER -->

        </div>
        <!-- End MAIN_CONTAINER -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>