<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Real World Django - Отправка писем</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Project style -->
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="vertical-layout">

        <!-- Start LEFT_MENU -->
        <div class="leftbar">
            <div class="logobar">
                <a href="{% url 'events:index' %}" class="logo logo-large">
                    <img src="{% static 'images/svg-icon/logo.svg' %}" alt="logo" style="height: 40px">
                </a>
            </div>
            <ul class="vertical-menu" id="vertical-menu">
                <li class="vertical-menu-item">
                    <span>Главное</span>
                    <ul class="vertical-submenu">
                        <li><a href="{% url 'events:event_list' %}">События</a></li>
                    </ul>
                </li>
                <li class="vertical-menu-item">
                    <span>Аккаунт</span>
                    <ul class="vertical-submenu">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'events:profile'  %}">Мой аккаунт</a></li>
                        <li><a href="{% url 'events:change_password'  %}">Изменить пароль</a></li>
                        <li><a href="{% url 'events:password_reset'  %}">Сбросить пароль</a></li>
                        {% else %}
                        <li><a href="{% url 'events:login' %}" class="btn btn-outline-primary">Войти</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- menu for mobile -->
        <div class="topbar-mobile">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="mobile-logobar" style="max-width: 40px">
                        <a href="#" class="mobile-logo">
                            <img src="assets/images/svg-icon/logo.svg" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="mobile-togglebar">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="menubar">
                                    <a class="menu-hamburger" href="#" id="menu-hamburger">
                                        <img src="assets/images/svg-icon/collapse.svg"
                                            class="img-fluid menu-hamburger-collapse" alt="collapse">
                                        <img src="assets/images/svg-icon/close.svg"
                                            class="img-fluid menu-hamburger-close" alt="close">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-none" style="height: 90px"></div>
        <!-- End LEFT_MENU -->

        <!-- Start MAIN_CONTAINER -->
        <div class="rightbar">

            <!-- Start TOP_BAR -->
            <div class="container-fluid bg-white py-3">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto text-center ms-4">
                        <h4>События</h4>
                    </div>
                    <div class="col-auto text-center me-4">
                        {% if not request.user.is_authenticated %}
                        <a href="{% url 'events:login' %}" class="btn btn-outline-primary">Войти</a>
                        <a href="{% url 'events:signup' %}" class="btn btn-primary">Регистрация</a>
                        {% else %}
                        <a href="{% url 'events:logout' %}" class="btn btn-outline-primary">Выйти</a>
                        <a href="{% url 'events:event_create' %}" class="btn btn-outline-primary">+ Добавить событие</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End TOP_BAR -->


            <!-- Start CONTAINER_BAR -->
            <div class="container mt-3">
                <h2>Подписчики</h2>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <form action="." method="post" class="mb-5">
                            {% csrf_token %}
                            <select name="user">
                                {% for email in emails %}
                                <option value="{{ user.id }}">{{ email}}</option>
                                {% endfor %}
                            </select>
                            <input type="email" name="subscriber_email" placeholder="Enter subscriber email">
                            <button type="submit" class="btn btn-primary mt-2">Add Subscriber</button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <form action="{% url 'events:send_email' %}" method="post" class="mb-5" id="formLetterCreate">
                            {% csrf_token %}
                            <label>Тема письма:</label>
                            <input type="text" class="form-control" required>
                            <input type="hidden" name="selectedEmails" id="selectedEmails">
                            <label>Текст письма:</label>
                            <textarea rows="3" class="form-control"></textarea>
                            <button type="submit" class="btn btn-primary mt-2" id="btnCreateLetters">Создать
                                письма</button>
                        </form>
                    </div>
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Количество писем</th>
                                <th scope="col">Отправленных</th>
                                <th scope="col">Выбрать</th>
                                <th scope="col">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subscriber in subscribers %}
                            <form action="{% url 'events:delete_subscriber' subscriber.id %}" method="post"
                                id="formLetterSend">
                                {% csrf_token %}
                                <input type="hidden" name="subscriber_id" id="subscriberId">
                                <tr data-tr-email="{{ subscriber.subscriber_email }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ subscriber.subscriber_email }}</td>
                                    <td>{{ subscriber.letter_count }}</td>
                                    <td>{{ subscriber.sent_letter_count }}</td>
                                    <td>
                                        <input type="checkbox" name="selected_subscribers"
                                            value="{{ subscriber.subscriber_email }}">
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-delete-subscriber"
                                            data-delete-url="{% url 'events:delete_subscriber' subscriber.id %}"
                                            onclick="deleteSubscriber({{ subscriber.id }}, this.closest('tr'))">Удалить</button>
                                    </td>
                                </tr>
                            </form>
                            {% endfor %}
                            <button type="submit" class="btn btn-success my-2" id="btnSendLetters">
                                Отправить письма
                            </button>
                        </tbody>
                    </table>
                    <div class="alert alert-primary my-2 d-none" role="alert" id="alertSendingProcess">
                        Выполняется отправка писем
                    </div>
                    <div class="alert alert-success my-2 d-none" role="alert" id="alertSendingDone">
                        Отправка писем завершена
                    </div>
                </div>
            </div>
            <!-- End CONTAINER_BAR -->

        </div>
        <!-- End MAIN_CONTAINER -->

        <script>
            function deleteSubscriber(subscriberId, rowElement) {
                const deleteUrl = rowElement.getAttribute('data-delete-url');
                fetch(deleteUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Подписчик успешно удален.');
                            rowElement.remove();
                        } else {
                            alert('Ошибка при удалении подписчика.');
                        }
                    })
                    .catch(error => console.error('Ошибка:', error));
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const subscribersTable = document.getElementById('subscribersList');
            subscribersTable.addEventListener('click', function (event) {
                if (event.target.classList.contains('btn-delete-subscriber')) {
                    const rowElement = event.target.closest('tr');
                    const subscriberId = event.target.dataset.subscriberId;
                    deleteSubscriber(subscriberId, rowElement);
                }
            });
            document.getElementById('btnSendLetters').addEventListener('click', function () {
                const selectedEmails = Array.from(document.querySelectorAll('input[name="selected_subscribers"]:checked'))
                    .map(input => input.value);
                document.getElementById('selectedEmails').value = selectedEmails.join(',');

                const formData = new FormData(document.getElementById('formLetterSend'));
                fetch('/events/send_email/', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Письма успешно отправлены.');
                        } else {
                            alert('Ошибка при отправке писем.');
                        }
                    })
                    .catch(error => console.error('Ошибка:', error));
            });

        </script>

        <!-- Start FOOTER -->
        <div style="height: 70px"></div>
        <div class="footerbar">
            <footer class="footer">
                <p class="mb-0">© Pumpskill. Real World Django</p>
            </footer>
        </div>
        <!-- End FOOTER -->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </div>
</body>

</html>